<div class="container">
 	<div class="row">
	 <div class="col-sm-6">
	      <h1>Opinión Personal:</h1>
		 <h5 class="text-center pservices text-justify"><p style="text-align: left">La conferencia resultó interesante, por que considero que como estudiante me motiva a crecer en un ámbito personal y profesional, en primera instancia por el hecho de que aborda diversos temas, en los cuales estoy más que seguro que al menos en 1, más de uno de nosotros como comunidad estudiantil, estarán interesados. Personalmente fueron buenos momentos de convivencia con profesionistas que alguna vez estuvieron en nuestros zapatos como "estudiantes" y nos motivan a crecer, además de que las conferencias me ayudaron a inclinarme más hacia el lado de la programación web, siendo Javascript el lenguaje en el que me siento más cómodo.</p></h5>
	  </div>
	<div class="col-sm-6">
	<table class="table table-bordered table-hover table-default">
		<thead class="thead-inverse">
			<tr>
				<th> Conferencias Asistidas</th>
				<th> Hora</th>
                                <th> Día</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><a href="/conf1.html">Inteligencia Artificial</a></td>
				<td><a href="/conf1.html">8:15-10:30</a></td>
				<td><a href="/conf1.html">17 de octubre del 2017</a></td>
			</tr>
			<tr>
				<td><a href="/conf2.html">Tendencias en el desarrollo web </a></td>
				<td><a href="/conf2.html">10:30-12:30</a></td>
				<td><a href="/conf2.html">17 de octubre del 2017</a></td>

			</tr>
			<tr>
				<td><a href="/conf3.html">Criptografía </a></td>
				<td><a href="/conf3.html">12:30-14:30</a></td>
				<td><a href="/conf3.html">17 de octubre del 2017</a></td>

			</tr>
                        <tr>
							<td><a href="/conf4.html">Herramientas y Técnicas para incrementar la calidad del código en tu proyecto</a></td>
							<td><a href="/conf4.html">16:00-18:00</a></td>
							<td><a href="/conf4.html">17 de octubre del 2017</a></td>

                        </tr>
                        <tr>
							<td><a href="/conf5.html">Hacia dónde va la investigación en las ciencias de la información</a> </td>
							<td><a href="/conf5.html">12:30-14:30</a></td>
							<td><a href="/conf5.html">18 de octubre del 2017</a></td>

                        </tr>
                        <tr>
							<td><a href="/conf6.html">Machine Learning 101 </a></td>
							<td><a href="/conf6.html">9:00-10:30</a></td>
							<td><a href="/conf6.html">19 de octubre del 2017</a></td>

                        </tr>


		</tbody>
	</table>


	</div>
	</div>
</div>

