<h1 class="text-center">Carrusel Boostrap 4</h1>
<h5 class="text-center">
    <br>
    <p class="pservices text-justify ">
        Un carousel o slider de imagenes es una forma muy util para presentar al usuario un conjunto de imagenes de manera secuencial con unos controles para seleccionar imagen anterio o siguiente.

        Existen muchos plugins o librerias que nos pueden servir para crear carouseles o sliders, pero tambien bootstrap nos presenta una opcion para crear estos controles.
    </p>
    <p class="pservices text-justify">Bootstrap 4 ofrece algunos cambios en el dise침o y la forma de crear un carousel o slider de im치genes, a continuaci칩n un ejemplo con explicaci칩n.</p>
    <div>
        <span class="centerImage"><img src="/img/c1.png"></span>
            <span class="centerImage"><img src="/img/c2.png"></span>
        <img src="/img/c3.png">
            <span class="centerImage"><img src="/img/4.png"></span>
        <p>Resultado:</p>
            <span class="centerImage"><img src="/img/car.png"></span>
    </div>
</h5>
