<h1 class="text-center"><i>Hacia dónde va la investigación en las ciencias de la información</i></h1>
<h5 class="text-center">
    <p class="pservices text-justify">
        Dra. Xiomara Penélope Zaldivar Colado, profesora y coordinadora en posgrado de ciencias de la información, egresada de Culiacan, Sinaloa</p>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <a href="#" class="thumbnail">
                <img style="float:left"  src="/img/conf5/1.jpg">
                </a>
                <a href="#" class="thumbnail">
                <img style="float:right"  src="/img/conf5/2.jpg">
                </a>

            </div>
        </div>
    </div>
    <br>
    <p class="pservices text-justify">
        Las categorías a evaluar del posgrado son:
    </p>
    <br>
    <ul>
    <ol>Categoría 1: Estructuras y personal académico del programa</ol>
    <ol>Categoría 2: Estudiantes</ol>
    <ol>Categoría 3: Infraestructura del programa</ol>
    <ol>Categoría 4: Resultados y Vinculación</ol>
    </ul>
    <br>
    <p align="left">Situación Actual en el posgrado de cálidad en México:</p>
    <br>
    <ul>
    <ol>158 Posgrados físicos matemáticos</ol>
    <ol>170 Biología y Química</ol>
    <ol>374 Matemáticas y ciencias de la salud</ol>
    <ol>344 Humanidades y ciencias de la conducta</ol>
    <ol>419 Ciencias Sociales</ol>
    <ol>321 Biotecnologías y ciencias agropecuarias</ol>
    <ol>466 Ingenierías</ol>
    </ul>
    <br>
    <p class="pservices text-justify">
        El posgrado en las ciencias de la información:
    </p>
    <br>
    <ul>
    <ol>Programa Integral</ol>
    <ol>Maestría y doctorado en ciencias de la información</ol>
    </ul>
    <br>
    <p class="pservices text-justify">
        Líneas de generación y aplicación del conocimiento :
    </p>
    <br>
    <ul>
    <ol>Geomática y geodesia</ol>
    <ol>Computación y sistemas</ol>
    </ul>
</h5>

