<h1 class="text-center"><i>Criptografía Post-Cuántica</i></h1>
<h5 class="text-center">
    <p class="pservices text-justify">
        Lic. en matemáticas Diego Armando Retana García, egresado de Guadalajara, experiencia en Criptografía Simétrica y asimétrica, trabajando actualmente en "Relativity 6" en Boston.
    </p>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <a href="#" class="thumbnail">
                <img class="center-block"  src="/img/conf3/1.jpg">
                </a>
            </div>
        </div>
    </div>
    <br>
    <p class="pservices text-justify">La criptografía más importante es la criptografía basada en látices.
    </p>
    <br>
    <p class="pservices text-justify">Criptografía es la ciencia basada en técnicas matemáticas para cifrar información, lo cual nos permite transportar datos de forma segura.</p>
    <br>
    <p align="left">La criptografía se divide en 2 tipos:</p>
    <br>
    <ul>
    <ol>Simétrica (Una misma llave para cifrar y descifrar)</ol>
    <ol>Asimétrica (Dos llaves, una privada y una publica)</ol>
    <ol>Visual Studio</ol>
    </ul>
        <br>
    <p class="pservices text-justify">Se habla sobre el futuro y que si existiese una computadora cuantica sería la mejor en muchos aspectos, en cuanto a cifrado y procesamiento.</p>
    <br>
    <p class="pservices text-justify">Por último se nos aclara que una "látice" es una estructura/rejilla que forma nodos entre vectores.</p>
    <br>
</h5>
