<h1 class="text-center"><i>Machine Learning 101</i></h1>
<h5 class="text-center">
    <p class="pservices text-justify">
        Ing. Edwin Efraín Jiménez Lepe, egresado del Instituto Técnologico de Tepic, con posgrado en GDL (Cinvestav) trabajando en Relativity 6.
    </p>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <a href="#" class="thumbnail">
                <img style="float:left"  src="/img/conf6/1.jpg">
                </a>
                <a href="#" class="thumbnail">
                <img style="float:right"  src="/img/conf6/2.jpg">
                </a>
            </div>
        </div>
    </div>
    <br>
    <p class="pservices text-justify">Mencionó que la inteligencia artificial es como nosotros pero mejor, con una capacidad mental general, que permite lograr uso de raciocinio para tener una toma de decisiones propias, estos autómatas pueden absosrber información general y aprender de ello.
    </p>
    <br>
    <p align="left">Inteligencia Artificial:</p>
    <br>
    <ul>
    <ol>Netflix</ol>
    <ol>Tesla</ol>
    <ol>Amazón</ol>
    <ol>Siri</ol>
    <ol>Google</ol>
    </ul>
    <br>
    <p align="left">Inteligencia Artificial Ficticia:</p>
    <br>
    <ul>
    <ol>Jarvis(Ironman)</ol>
    <ol>Skynet(Terminator)</ol>
    <ol>YoRobot</ol>
    </ul>
    <br>
    <p align="left">Machine Learning:</p>
    <br>
    <ul>
    <ol>DeepLearning (Aprendizaje Profundo)</ol>
    <ol>Supervised (Supervisado)</ol>
    <ol>Unsupervised (No Supervisado)</ol>
    </ul>
    <br>
    <p align="left">M. L.:</p>
    <p class="pservices text-justify">Campo de estudio que se le da a las computadoras, donde se les brinda la capacidad de aprender, cada componente de una aplicación/ámbito específico se convierte en alguna característica del machine learning, machine learning propone también predicciones, las cuales son propuestas a través de la forma de comportarse de ciertas personas, mediante la lógica y comportamiento usual</p>
    <br>
    <p class="pservices text-justify">La base de machine learning son las redes neuronales, ya que son similares al "actuar" de las máquinas de acuerdo a la información recibida.</p>
    <br>
    <p align="left">Existen 3 capas:</p>
    <br>
    <ul>
    <ol>Input Layer</ol>
    <ol>Hidden Layer</ol>
    <ol>Output Layer</ol>
    </ul>
    <br>
    <p align="left">Deep Learning:</p>
    <p class="pservices text-justify">Uso de más capas ocultas para incrementar la escencia de los resultados.</p>
    <br>
    <p align="left">Apps para redes neuronales:</p>
    <br>
    <ul>
    <ol>Sihits learn</ol>
    <ol>Spark mllib</ol>
    <ol>Tensorflow</ol>
    </ul>
</h5>