<h1 class="text-center"><i>Inteligencia Artificial</i></h1>
<h5 class="text-center">
    <p class="pservices text-justify">
    Esta conferencia fue impartida por el M.C. Pablo salazar Linares, Ingeniero en sistemas de computación, con doctorado en sistemas distribuidos (Guadalajara).
    Se habla del proceso de la evolución en referencia a la arquitectura de ciertos robots, al igual que se hace énfasis a que normalmente a través del tiempo se busca que los sistemas/cosas/máquinas se parezcan más a nosotros, los humanos.
    Se comenta que las máquinas pueden reaccionar ante los eventos mediante patrones.
    </p>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm-10">
                <a href="#" class="thumbnail">
        <img style="float:left"  src="/img/Conf1/1.jpg">
                </a>
                <a href="#" class="thumbnail">
                <img style="float:right"  src="/img/Conf1/2.jpg">
                </a>

    </div>
        </div>
    </div>
    <br>
    <p style="text-align: left">La Inteligencia Artificial se resume en:</p>
    <p class="pservices text-justify">La resolución de problemas complejos/funcionamiento del pensamiento humano.
    Se hace referencia al autoaprendizaje (machine learning), al igual se habla de los "chabots", los cuales son autómatas programados que dan cierta "solución" a un problema usual, a través de cierto paradigama.
        La inteligencia Artificial esta implicita en tantas áreas, un ejemplo de ello son los videojuegos, donde los personajes interactuan entre sí en base a ciertas condiciones.
    </p>
    <br>
    <p class="pservices text-justify">
     También algunas páginas de internet usan el término "big data", donde arrojan información en base a gustos o recomendaciones, un ejemplo de ello es facebook con sus sugerencias.
        De igual manera se habla sobre "Nils John" el cual informa sobre ciertos "pilares", alias "Redes Neuronales", las cuales usan algoritmos genéticos, que a su vez se encuentran en algoritmos bioinspirados.
    </p>
    <br>
    <p class="pservices text-justify">
        Los algoritmos trabajan con una función objetivo de manera que ayuda a la toma de decisiones, a través del procesamiento de información. Una red neuronal también es llamada "Perceptron"."Deep Learning" es otro término referente a una busqueda profunda, el cual es usado para trabajar con una gran cantidad de datos.
    </p>
    <br>
    <p class="pservices text-justify">
        Podemos adentrarnos en la inteligencia artifical para apoyar el rendimiento en diversas áreas, más allá de las limitaciones del cuerpo humano.
    </p>
    <br>
    <p class="pservices text-justify">
        Se habla de la tecnología IBM Watson, que interactura con personas a través del razonamiento e hipótesis, aprende y enseña mediante la experiencia, además de ser accesible desde la nube en cualquier momento.
    </p>
</h5>


