<h1 class="text-center"><i>Tendencias en el desarrollo web</i></h1>
<h5 class="text-center">
    <p class="pservices text-justify">
        Egresado del Instituto Tecnólogico de Chihuahua, Ing. Adam Carrasco, desarrollador de software en "Oracle"
    </p>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <a href="#" class="thumbnail">
                <img  src="/img/conf2/1.jpg" widht="150">
                </a>

            </div>
        </div>
    </div>
    <br>
    <p style="text-align: left">Desarrollo Web en el 2017 + Tips:</p>
    <p class="pservices text-justify">Iniciamos con dos definiciones escenciales, "Front-end" siendo todo lo que vemos por parte del navegador (HTML,CSS,JavaScript)
        y "Back-End" (Databases,BL,WS)
    </p>
    <br>
    <p align="left">Tendencias en el desarrollo Web:</p>
    <br>
    <p class="pservices text-justify">
        Web esta enfocado en 2 vertientes:
    </p>
    <br>
    <ul>
    <ol>Progressive Web Apps</ol>
        <ol>Single Page Applications(Respuestas muy rápidas)</ol>
    </ul>
    <br>
    <p align="left">Frameworks Back-End:</p>
    <br>
    <ul>
    <ol>Ruby On Rails</ol>
    <ol>DJango</ol>
    <ol>Laravel</ol>
    <ol>Spring Framework</ol>
    <ol>ASPNET</ol>
    </ul>
    <br>
    <p align="left">Back-End como servicio:</p>
    <br>
    <ul>
    <ol>Realm</ol>
    <ol>Firebase</ol>
    <ol>Socket.io</ol>
    <ol>Parse</ol>
    </ul>
    <br>
    <p class="pservices text-justify">En cuanto al Front-End, el framework más usado es Bootstrap, ya que el uso de este framework brinda ajustabilidad y es muy estable através  de su patrón de diseños.
    </p>
    <br>
    <p align="left">Preprocesadores CSS:</p>
    <br>
    <ul>
    <ol>less CSS</ol>
    <ol>SCCSS</ol>
    <ol>SASS</ol>
    </ul>
    <br>
    <p class="pservices text-justify">CSS proporciona herramientas de ámbito general para modificar varios elementos a gusto propio del HTML en general.
    </p>
    <br>
    <p align="left">Frameworks JavaScript (2012-2017) populares:</p>
    <br>
    <ul>
    <ol>React</ol>
    <ol>Angular JS</ol>
    <ol>Vue JS</ol>
    <ol>JQuery</ol>
    </ul>
    <br>
    <p class="pservices text-justify">React esta escrito únicamente en JavaScript, es bueno y factible para editar ciertos componentes en la página web y no cada uno de ellos, sin alterar más elementos.
    </p>
    <br>
    <p class="pservices text-justify">AngularJS tiene la ventaja de que su uso es en tiempo real, enlazando los componentes.
    </p>
    <br>
    <p class="pservices text-justify">Vue acepta cualquier componente y es compatible con ellos.
    </p>
    <br>
    <p align="left">Editores de texto más populares:</p>
    <br>
    <ul>
    <ol>Atom</ol>
    <ol>Sublime Text</ol>
    <ol>Visual Studio</ol>
    </ul>
    <br>
    <p class="pservices text-justify">"Functional Testing", hacer uso de testear aplicaciones es recomendable para medir su optimo funcionamiento.
    </p>
    <br>
    <p align="left">Top 10 enseñanzas:</p>
    <br>
    <ul>
    <ol>Escoger un lenguaje de programación y hacerlo tu primer amor</ol>
    <ol>Adentrarse dentro de las estructuras de datos</ol>
    <ol>Entrenar habilidades para programar algoritmos (Hackerrank,CodeFights,LeetCode)</ol>
    <ol>Entender el funcionamiento completo de los frameworks y como funciona internamente</ol>
    <ol>Git y Github (Conocerlos y diferenciarlos)</ol>
    <ol>No pares en "es solo un proyecto escolar"</ol>
    <ol>No esperarse hasta 9° semestre para conseguir experiencia</ol>
    <ol>No hables,Actua</ol>
    <ol>Trata de crear tu propio negocio</ol>
    <ol>Leer mucho</ol>
    <ol>El ingles</ol>
    </ul>

</h5>


