<div class="container">
    <div class="row">
        <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1 class="gallery-title text-center">Galería</h1>
        </div>


        <br>

        <br><br><br>
        <div class="row col-md-12" align="center">


            <div class="gallery_product col-lg-4 col-md-4">
                <a href="/img/a.jpg" target="_blank"><img src="/img/a.jpg"  class="" width="300"></a>
                </div>
            <div class="gallery_product col-lg-4 col-md-4">
                <a href="/img/a1.jpg" target="_blank"><img src="/img/a1.jpg"  class=""width="250"></a>
            </div>
            <div class="gallery_product col-lg-4 col-md-4">
                <a href="/img/a2.jpg" target="_blank"><img src="/img/a2.jpg"  class=""width="300"></a>
            </div>
            <div class="gallery_product col-lg-4 col-md-4">
                <a href="/img/a3.jpg" target="_blank"> <img src="/img/a3.jpg"  class=""width="300"></a>
            </div>
            <div class="gallery_product col-lg-4 col-md-4">
                <a href="/img/a4.jpg" target="_blank"> <img src="/img/a4.jpg"  class=""width="250"></a>
            </div>

        </div>

    </div>
</div>