<h1 class="text-center">Jornada Académica de computación 2017</h1>
<h5 class="text-center">
<br>
    <p>Bienvenido usuario, le damos una grata introducción a nuestra página web.</p>
    <p>
Es libre de visitar las diversas galerías de las cuales disponemos.
</p>
<br>
    <div>
        <span class="centerImage"><img src="/img/Evento.jpg"></span>
    </div>
</h5>

