<div class="row">
<div class="col-md-4 container">
    <div class="container">
        <div class="card"><a href="/conf1.html">
            <h3 class="card-header text-center bg-primary">Inteligencia Artificial</h3>
            <div class="card-block">
                <p class="card-text pservices text-justify text-dark">Una máquina «inteligente» ideal es un agente racional flexible que percibe su entorno y lleva a cabo acciones que maximicen sus posibilidades de éxito en algún objetivo o tarea.
                </p>
            </div>
            </a></div>
    </div>
</div>
    <br />
    <div class="col-md-4">
        <div class="container">
            <div class="card"><a href="/conf6.html">
                <h3 class="card-header text-center bg-success">Machine Learning 101</h3>
                <div class="card-block">
                    <p class="card-text pservices text-justify text-dark">
                        Subcampo de las ciencias de la computación y una rama de la inteligencia artificial cuyo objetivo es desarrollar técnicas que permitan a las computadoras aprender.
                    </p>
                </div>
                </a></div>
        </div>
    </div>

    <br />
<div class="col-md-4">
    <div class="container">
        <div class="card"><a href="/conf3.html">
            <h3 class="card-header text-center bg-warning">Criptografía</h3>
            <div class="card-block">
                <p class="card-text pservices text-justify text-dark">
                    La palabra Criptografía proviene del griego "kryptos" que significa oculto, y "graphia", que significa escritura, y su definición según el dicccionario es "Arte de escribir con clave secreta o de un modo enigmático".
                </p>
            </div>
            </a></div>
    </div>
</div>

    <br />
    <div class="col-md-4">
        <div class="container">
            <div class="card"><a href="/conf4.html">
                <h3 class="card-header text-center bg-info">Herramientas y Técnicas para incrementar la calidad del código en tu proyecto</h3>
                <div class="card-block">
                    <p class="card-text pservices text-justify text-dark">
                        Procesos y actividades de la organización ejecutante que determinan responsabilidades, objetivos y políticas de calidad a fin de que el proyecto satisfaga las necesidades por la cuales fue emprendido.
                    </p>
                </div>
                </a> </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="container">
            <div class="card"><a href="/conf2.html">
                <h3 class="card-header text-center bg-danger">Tendencias en el desarrollo web</h3>
                <div class="card-block">
                    <p class="card-text pservices text-justify text-dark">
                        Término que define la creación de sitios web para Internet. Para conseguirlo se hace uso de tecnologías de software del lado del servidor y del cliente que involucran una combinación de procesos de base de datos con el uso de un navegador web a fin de realizar determinadas tareas.
                    </p>
                </div>
                </a></div>
        </div>
    </div>



    <div class="col-md-4">
        <div class="container">
            <div class="card"><a href="/conf5.html">
                <h3 class="card-header text-center bg-primary">Hacia dónde va la investigación en las ciencias de la información</h3>
                <div class="card-block">
                    <p class="card-text pservices text-justify text-dark">
                        Las ciencias de la comunicación o comunicología agrupan disciplinas que estudian, analizan o discuten los fenómenos sociales relacionados con la comunicación, generando sus propios métodos de estudio y herramientas analíticas.
                    </p>
                </div>
                </a></div>
        </div>
    </div>
</div>
