<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="index.html">
        <img class="escudo d-block img-fluid" src="img/escudo.png" width="47">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">

                <a class="nav-link" href="index.html">
                     <i class="fa fa-home" aria-hidden="true"></i>
                     Inicio
                     <span class="sr-only">(current)</span></a>
             </li>
             <li class="nav-item">
                 <a class="nav-link" href="tarjeta.html">Tarjetas</a>
             </li>
             <li class="nav-item">
                 <a class="nav-link" href="bitacora.html">Bitacora</a>
             </li>
            <li class="nav-item">
                <a class="nav-link" href="galeria.html">Galería</a>
            </li>




             <li class="nav-item dropdown">
                 <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Desplegables</a>
                 <div class="dropdown-menu" aria-labelledby="dropdown01">
                     <a class="dropdown-item" href="/carrousel.html">Carrusel</a>
                     <a class="dropdown-item" href="/car.html"">Investigación de Carrusel</a>
                     <a class="dropdown-item" href="/mod.html">Investigación de Ventana Modal</a>
                     <a class="dropdown-item" href="/conf1.html">Inteligencia Artificial</a>
                     <a class="dropdown-item" href="/conf2.html">Tendencias en el desarrollo web</a>
                     <a class="dropdown-item" href="/conf3.html">Criptografía</a>
                     <a class="dropdown-item" href="/conf4.html">Herramientas y Técnicas para incrementar la calidad del código en tu proyecto</a>
                     <a class="dropdown-item" href="/conf5.html">Hacia dónde va la investigación en las ciencias de la información</a>
                     <a class="dropdown-item" href="/conf6.html">Machine Learning</a>
                 </div>
             </li>
         </ul>
     </div>
 </nav>

 <br>
 <br>
 <br>

